{% extends 'layout.html' %}
{% block tittle %}Logged_out{% endblock tittle %}
{% block content %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-header">
              Logged Out
            </div>
            <p class="fs-4 mt-5">Thanks for spending some quality time with the Web site today.</p>
            <p>
              <a href="{% url 'login' %}" class="btn btn-primary">Log in again</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}