{% extends '../base.html' %}

{% block title %} 新規投稿 {% endblock title %}
{% block content %}

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card mt-3">
            <div class="card-header">
              <h5>タイトル：{{ post.title }}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">内容：{{ post.text }}</p>
              <p>投稿日時：{{ post.created_at|date:'Y/m/d H:i:s'  }}</p>
              {% if post.created_at|date:'Y.m.d.H.i.s' != post.updated_at|date:'Y.m.d.H.i.s' %}
              <p>更新日時：{{ post.updated_at|date:'Y/m/d H:i:s'  }}</p>
              {% endif %}
              <p class="card-text">投稿者 :{{post.user}} さん</p>
              <a href="{% url 'edit' %}" class="btn btn-primary mt-3">編集する</a>
              <form action="#" method="post">
                <input type='submit' value='削除' class="btn btn-danger mt-3" onclick='return confirm("本当に削除しますか？");'>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <a href="{% url 'comment' %}">
            <button type="button" class="btn btn-primary mt-3">コメントする</button>
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
          コメント一覧
          <div class="card mt-3">
                  <p class="card-text">投稿者 :{{post.user}}</p>
            <div class="card-body">
              <h5 class="card-title">投稿日時：2021/11/08</h5>
              <p class="card-text">内容：今日のセブは快晴</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}